html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-jost);
}

figure {
  margin: 0;
}

// Text Alignment

.text-ac{
  text-align: center;
}

// flexbox

.flex {
  display: flex;

  &-jc-sa {
    justify-content: space-around;
  }
  
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-se {
    justify-content: space-evenly;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-c{
    flex-direction: column;
  }
}