:root {
  --gold: hsl(26, 35%, 60%);
  --gray: hsl(240, 1%, 23%);
  --lightgray: hsla(240, 1%, 23%, 0.692);
  --black: hsl(0, 0%, 8%);
  --blueish: hsl(240, 17%, 17%);
  --darkblue: hsl(240, 35%, 9%);
  --blackish: hsl(0, 0%, 8%);
  --darkwhite: hsl(0, 0%, 68%);
}
