@use '../util/functions.scss' as *;

.coffe-menu {
  width: min(95%, 100rem);
  display: grid;
  // grid-template-columns: 1fr 2fr;
  // grid-template-rows: auto;
  grid-auto-flow: column;
  background-color: #f7f2ee;
  padding: rem(20);
  &__left {
    // margin: 0 0 rem(64) rem(32);

    &__header {
      text-align: left;
      text-transform: uppercase;
      color: var(--gray);
      font-size: rem(24);
      margin-top: rem(64);

      hr {
        margin-bottom: 30px;
        margin-top: -20px;
        height: rem(5);
        background-color: var(--gray);
      }
    }

    &__body {
      &__inner-box {
        margin: 5px 0px;
        &__wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;

          &__size {
            margin-left: 50%;
            width: 50%;
            font-size: rem(12);
            font-weight: 400;
            letter-spacing: rem(0.8);
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
          }

          &__title {
            width: 50%;
            margin: rem(5);
            text-transform: uppercase;
            color: var(--gray);
            font-weight: 600;
            letter-spacing: rem(1);
          }

          &__price {
            font-weight: 600;
            color: var(--lightgray);
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin: rem(5);
          }
        }
      }
    }
  }

  &__right {
    background-color: var(--blackish);
    padding-left: 1rem;
    height: fit-content;
    padding-bottom: rem(32);
    padding-left: rem(25);
    margin-top: rem(50);
    margin-left: rem(50);

    &__header {
      text-align: left;
      text-transform: uppercase;
      color: var(--gray);
      font-size: rem(24);
      margin-bottom: rem(16);
      padding-top: rem(32);
      color: white;
    }

    &__box {
      display: flex;
      width: 100%;
      flex-direction: row;

      &__left-column {
        width: 50%;

        &__item {
          display: flex;
          justify-content: space-between;
          padding-right: rem(32);
          color: white;
          margin-bottom: rem(16);
          font-weight: 600;
          letter-spacing: rem(1);

          &__price {
            color: var(--darkwhite);
          }
        }
      }

      &__right-column {
        width: 50%;

        &__item {
          display: flex;
          justify-content: space-between;
          padding: 0 rem(32);
          color: white;
          margin-bottom: rem(16);
          font-weight: 600;
          letter-spacing: rem(1);

          &__price {
            color: var(--darkwhite);
          }
        }
      }
    }

    &__bottom-box {
      width: 50%;
      color: white;
      font-size: rem(12);
      margin-top: rem(16);
      font-weight: 300;
    }
  }
}

.coffe-menu-2 {
  margin: rem(40) auto;
  width: min(95%, 100rem);
  display: grid;
  grid-auto-flow: column;
  column-gap: rem(20);
  // grid-template-columns: repeat(3, 33%);

  &__left {

    &__header {
      font-weight: 600;
      font-size: rem(24);
      color: var(--gold);
    }

    &__item {
      padding-right: rem(20);

      &__name {
        text-transform: uppercase;
        color: var(--gray);
        font-weight: 600;
        letter-spacing: rem(1);

        p{
          font-size: rem(12);
          font-weight: 300;
        }
      }
      &__price {
        font-weight: 600;
        color: var(--lightgray);
        font-size: rem(18);
      }
    }
  }

  &__center {
      
    &__item {
      padding-right: rem(20);

      &__name {
        text-transform: uppercase;
        color: var(--gray);
        font-weight: 600;
        letter-spacing: rem(1);

        p{
          font-size: rem(12);
          font-weight: 300;
        }
      }
      &__price {
        font-weight: 600;
        color: var(--lightgray);
        font-size: rem(18);
      }
    }
  }

  &__right {

    &__item {
      padding-right: rem(20);

      &__name {
        text-transform: uppercase;
        color: var(--gray);
        font-weight: 600;
        letter-spacing: rem(1);

        p{
          font-size: rem(12);
          font-weight: 300;
        }
      }
      &__price {
        font-weight: 600;
        color: var(--lightgray);
        font-size: rem(18);
      }
    }
  }
}
