@use '../util/functions.scss' as *;

.coffe-menu {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
  background-color: #f7f2ee;

  &__left {
    margin: 0px 0px 64px 64px;

    &__header {
      text-align: left;
      text-transform: uppercase;
      color: var(--gray);
      font-size: rem(24);
      margin-top: rem(64);

      hr {
        margin-bottom: 30px;
        margin-top: -20px;
        height: rem(5);
        background-color: var(--gray);
      }
    }

    &__body {
      &__inner-box {
        margin: 5px 0px;
        &__wrapper {
          display: flex;
          width: 100%;
          // border: 1px solid blue;
          justify-content: space-between;

          &__size {
            margin-left: 50%;
            width: 50%;
            // border: 1px solid red;
            font-size: rem(12);
            font-weight: 400;
            letter-spacing: rem(0.8);
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
          }

          &__title {
            // border: 1px solid green;
            width: 50%;
            margin: rem(5);
            text-transform: uppercase;
            color: var(--gray);
            font-weight: 600;
            letter-spacing: rem(1);
          }

          &__price {
            // border: 1px solid red;
            font-weight: 600;
            color: var(--lightgray);
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin: rem(5);
          }
        }
      }
    }
  }

  &__right {
    margin: 0px 0px 64px 64px;

    &__header {
      background-color: var(--gray) ;
      text-align: left;
      text-transform: uppercase;
      color: white;
      font-size: rem(24);
      margin-top: rem(64);
      padding: rem(20);
    }
  }
}

// .coffe-menu {

//   &__right {
//     margin: 0px 0px 64px 64px;

//     &__header {
//       background-color: var(--gray) ;
//       text-align: left;
//       text-transform: uppercase;
//       color: var(--gray);
//       font-size: rem(24);
//       margin-top: rem(64);
//     }
//   }
// }

// .coffe-menu__righ__header{
//      background-color: var(--gray) ;
//       text-align: left;
//       text-transform: uppercase;
//       color: var(--gray);
//       font-size: rem(24);
//       margin-top: rem(64);
//       color: white;
// }
